<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Marca</th>
      <th scope="col">Rubro</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio</th>
      <th scope="col">
        <button
          type="button"
          class="btn btn-success mx-1"
          data-bs-toggle="modal"
          data-bs-target="#productoModal"
          (click)="productoModal.nuevoProducto()"
        >
          agregar
        </button>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of listaProd">
      <td>{{ producto.id }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.marca.nombre }}</td>
      <td>{{ producto.rubro.nombre }}</td>
      <td>{{ producto.cantidadEnStock }}</td>
      <td>{{ producto.precio }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary mx-1"
          data-bs-toggle="modal"
          data-bs-target="#productoModal"
          (click)="productoModal.editarProducto(producto)"
        >
          editar
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger mx-1"
          (click)="eliminar(producto)"
        >
          eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-producto-modal
  #productoModal
  (evenData)="actualizarTabla()"
></app-producto-modal>
