<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">
        <button type="button" class="btn btn-success" (click)="agregarRubro()">
          agregar
        </button>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rubro of listaRubros">
      <td>{{ rubro.id }}</td>
      <td>{{ rubro.nombre }}</td>
      <td>
        <div>
          <button
            type="button"
            class="btn btn-primary mx-1"
            (click)="editar(rubro)"
          >
            editar
          </button>
          <button
            type="button"
            class="btn btn-danger mx-1"
            (click)="eliminar(rubro)"
          >
            eliminar
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-secondary" (click)="actualizarTabla()">
  Actualizar
</button>
