<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">
        <button
          type="button"
          class="btn btn-success mx-1"
          data-bs-toggle="modal"
          data-bs-target="#marcaModal"
          (click)="marcaModal.agregarMarca()"
        >
          agregar
        </button>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marca of listaMarcas">
      <td>{{ marca.id }}</td>
      <td>{{ marca.nombre }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary mx-1"
          data-bs-toggle="modal"
          data-bs-target="#marcaModal"
          (click)="marcaModal.editarMarca(marca)"
        >
          Editar
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger mx-1"
          (click)="eliminarMarca(marca)"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-marca-modal #marcaModal (eventData)="actualizarTabla()"></app-marca-modal>
